.title {
    display: flex;
    justify-content: center;
}

#formTitle {
    font-size: 1.5em;
}

.entry {
    margin-top: 100px;
    margin-bottom: 100px;
}

input {
    margin-top: 20px;
}

.Output-Site {
    display: flex;
    justify-content: center;
}